@charset 'UTF-8';

/* Typical Device Breakpoints
 ----------------------------
 pequenas telas: até 600px
 celular: 600px até  750px
 tablet: 768px até 1200px
 Desktop: 992px até 1200px
 Grandes telas: acima de 1200px
 */

@media screen and (min-width:768px) and (max-width:992px){

section#login{
    width: 80vw;
    }

section#login > div#img{
    float: left;
    width: 45%;
    height: 100%;

    }

section#login > div#formulario{
    float: right;
    width: 50%;
    }
    
}


@media screen and (min-width:992px) { 
    
    section#login{
        width: 950px;
    }

    section#login > div#img{
        float: left;
        width: 40%;
        min-height: 100%;
    }

    section#login > div#formulario{
        float: right;
        width: 55%;
    
    }
}
